{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
  <div class="cover">
    <div class="login">
      <div class="stip-logo-div">
    	  <img src="/static/img/stip-logo.png" class="stip-logo-img"/>
	  </div>
      <h2 class="h2-stip">S-TIP</h2>
      <form method="post" action="{% url 'login' %}" autocomplete="off" role="form">
        {% csrf_token %}
        <div class="form-group">
          <label for="username" style="font-weight:normal;">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password" style="font-weight:normal;">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <br/>
        <div class="form-group">
          <button type="submit" class="btn btn-default submit">Log in</button>
        </div>
      </form>
      <div id="error_msg">
        {% if error_msg %}
          {{ error_msg }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body %}
