{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
  <div class="cover">
    <div class="login">
      <div class="stip-logo-div">
    	  <img src="/static/img/stip-logo.png" class="stip-logo-img"/>
	  </div>
      <h2 class="h2-stip">S-TIP</h2>
      <form method="post" action="{% url 'login_totp' %}" role="form">
        {% csrf_token %}
        <div class="form-group">
          <label for="authcode" style="font-weight:normal;">Authentication Code</label>
          <input type="text" class="form-control" id="authcode" name="authcode">
        </div>
        <br/>
        <div class="form-group">
          <button type="submit" class="btn btn-default submit">Log in</button>
        </div>
      </form>
      {% if error_msg %}
        <div id="error_msg">{{ error_msg }}</div>
      {% endif %}
    </div>
  </div>
{% endblock body %}
