django>=2.2.24
mongoengine>=0.20.0
pytz
apscheduler
requests
IPy
stix>=1.2.0.10
stix2-elevator>=4.0.1
stix2-validator>=3.0.0
stix2>=3.0.0
six>=1.15.0
libtaxii
mysqlclient
stix2-patterns>=1.3.2
stix2-slider>=3.0.0
python-decouple
pymongo>=3.10.1
bleach
pymisp<2.4.140
Unipath
slackclient>=2.9.3
maec
misp_stix_converter
cybox>=2.1.0.21
stix2-matcher>=1.0.0
pyotp
jaconv
pykakasi

