@import url(/static/css/autowide_font.css);

body {
  padding-top: 70px;
}

/*
header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
}
*/
header .navbar-brand {
  font-family: "SF Pro JP";
}

main .container {

}

.page-header {
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center;
  padding: 1em 0;
}

#notifications {
  font-size: 1.5em;
  padding: 13px;
  color: #dddddd;
}

#notifications.new-notifications {
  color: #428bca;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: .9em;
  padding: 0 0 0 .6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.markdown {
  margin-bottom: .8em;
}

ul.navbar-right a img.user,
img.stip-logo-header-img,
div.navbar-header img.user {
  width: 30px;
  border-radius: 100px;
  float: left;
}

.navbar-right-icon{
  padding :0px 0px;
  border: none;
}

#search-text{
  width:190px;
}

#search-button{
  width:37px;
  position: relative;
  vertical-align: top;
  display: inline-block;
}

#suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  font-size: 90%;
  width: 190px;
}

#suggest div {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
}

#suggest div.select{
  color: #FFFFFF;
  background-color: #3366FF;
}

#suggest div.over{
  background-color: #99CCFF;
}
